<%- include ("templates/encabezado") %>
<a href="/"><button type="button" class="btn btn-warning">Salir</button></a>
  <h1>TABLAS DE LA BASE DE DATOS</h1>
  
  <h2>USUARIOS</h2>
  <div class="table-responsive">
  <table class="table table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>CORREO</th>
            <th>USUARIO</th>
            <th>PASSWORD</th>
            <th>ACCIONES</th>
          </tr>
    </thead>
    <tbody>
      <% Usuario.forEach((dato) => { %>
        <tr>
            <td><%= dato.id %></td>
            <td><%= dato.nombre %></td>
            <td><%= dato.correo %></td>
            <td><%= dato.usuario %></td>
            <td><%= dato.password %></td>
            <td><a href="/borrarUsuario/<%= dato.id %>">BORRAR</a> / <a href="/ModificarUsuario/<%= dato.id %>">MODIFICAR</a></td>
          </tr>
      <% }); %>
    </tbody>
  </table>
</div>

  <h2>NEGOCIOS</h2>
  <div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>ID USUARIO</th>
        <th>NOMBRE</th>
        <th>UBICACION</th>
        <th>TELEFONO</th>
        <th>DESCRIPCION</th>
        <th>PRODUCTOS</th>
        <th>IMAGEN</th>
        <th>INSTAGRAM</th>
        <th>FACEBOOK</th>
        <th>BORRAR/EDITAR</th>
      </tr>
    </thead>
    <tbody>
      <% Negocio.forEach((dato) => { %>
        <tr>
            <td><%= dato.id %></td>
            <td><%= dato.userid %></td>
            <td><%= dato.nombre %></td>
            <td><%= dato.ubicacion %></td>
            <td><%= dato.telefono %></td>
            <td><%= dato.descripcion %></td>
            <td><%= dato.productos %></td>
            <td><img src="<%= dato.imagen %>" width="150px" alt=""></td>
            <td><%= dato.instagram %></td>
            <td><%= dato.facebook %></td>
            <td><a href="/ModificarNegocio/<%= dato.id %>">MODIFICAR</a></td>
          </tr>
      <% }); %>
    </tbody>
  </table>
</div>

  <%- include ("templates/pie") %>